<body class="bg-success " style="color: white;">
    <div class="w-80">
    <form method="post">
    <div>
        <label for="">Nombres: </label>
        <input type="text" name="nombres" id="" class="form-control">
    </div>
    <div>
        <label for="">Apellido Paterno: </label>
        <input type="text" name="apepa" id="" class="form-control">
    </div>
    <div>
        <label for="">Apellido Materno: </label>
        <input type="text" name="apema" id="" class="form-control">
    </div>
    <div>
        <label for="">Tipo de mascota: </label>
            <select   select name="tipo" id="" class="form-control">
                <option value="P">Perro</option>
                <option value="G">Gato</option>
            </select>
    </div>
    <div>
        <label for="">Descripción: </label>
        <textarea type="text" name="desc" cols="30" rows="10" id="" class="form-control"></textarea>
    </div>
    <div>
        <label for="">Teléfono: </label>
        <input type="text" name="tel" id="" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Distrito:</label>
            <select name="dist" id="" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
    </div>
    <div>
        <label for="">Dirección: </label>
        <input type="text" name="dir" id="" class="form-control">
    </div>
    
        <a  asp-action="Confirmacion" class="btn btn-primary btn-lg active ml-1 mt-5" role="button" aria-pressed="true">Registrar</a>
</form>
</div>

</body>
